@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Noto Sans JP";
}

.sec-title {
  text-align: center;
}
.sec-title h3 {
  font-family: "Shippori Mincho";
  font-size: 42px;
  font-weight: 500;
  color: #363636;
}
@media screen and (max-width: 1440px) {
  .sec-title h3 {
    font-size: 36px;
  }
}
.sec-title p {
  font-size: 26px;
  font-family: "Libre Baskerville";
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #B0B0B0;
  padding-top: 18px;
}
@media screen and (max-width: 1440px) {
  .sec-title p {
    font-size: 22px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}
header .header__left {
  margin-left: 40px;
}
@media screen and (max-width: 599px) {
  header .header__left {
    margin-left: 16px;
  }
}
header .header__left h1 {
  font-family: "kadwa";
  font-size: 26px;
  font-weight: bold;
  padding-top: 32px;
}
@media screen and (max-width: 1440px) {
  header .header__left h1 {
    padding-top: 24px;
    font-size: 22px;
  }
}
header .header__left p {
  font-size: 14px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1440px) {
  header .header__left p {
    padding-bottom: 24px;
    font-size: 10px;
  }
}
header .header__right ul {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 48px;
  font-family: "kadwa";
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 1440px) {
  header .header__right ul {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
  }
}

.header {
  color: #fff;
  position: static;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}
.header .header__left {
  margin-left: 40px;
}
.header .header__left h1 {
  font-family: "kadwa";
  font-size: 26px;
  font-weight: bold;
  padding-top: 32px;
}
@media screen and (max-width: 1440px) {
  .header .header__left h1 {
    padding-top: 24px;
    font-size: 22px;
  }
}
.header .header__left p {
  font-size: 14px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1440px) {
  .header .header__left p {
    padding-bottom: 24px;
    font-size: 10px;
  }
}
.header .header__right ul {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 48px;
  font-family: "kadwa";
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 1440px) {
  .header .header__right ul {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .menu-icon {
    z-index: 10;
  }
  .header .menu-icon__line {
    background: #fff;
  }
}

.menu-icon {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  right: 24px;
  top: 26px;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 9999;
  }
}

.active .menu-icon__line {
  background: #fff;
}

.menu-icon__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.header.menu-icon__line {
  background: #fff;
}

.menu-icon__line:nth-child(1) {
  top: 0;
}

.menu-icon__line:nth-child(2) {
  top: 10px;
}

.menu-icon__line:nth-child(3) {
  bottom: -4px;
}

.menu-icon.active .menu-icon__line:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.menu-icon.active .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .menu-icon__line:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 8px;
}

.menu {
  opacity: 0;
  position: fixed;
  transform: translateX(-300px);
  width: 300px;
  height: 100vh;
  background: #363636;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 3;
}
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
  }
}

.menu.active {
  opacity: 1;
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 25px;
  margin-top: 40px;
  text-align: center;
}

.menu li {
  padding-bottom: 40px;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  border-bottom: solid 1px #fff;
  padding-bottom: 12px;
  font-family: "Libre Baskerville";
}

#mask {
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
}

#mask.active {
  opacity: 0.8;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
  cursor: pointer;
}

.white-bg {
  width: 100%;
  height: 100px;
  background: #fff;
}
@media screen and (max-width: 1440px) {
  .white-bg {
    height: 70px;
  }
}
@media screen and (max-width: 599px) {
  .white-bg {
    display: none;
  }
}

.main-img {
  height: 840px;
  background-size: cover;
  width: 100%;
  background-image: url(/wp-content/themes/tellus/assets/images/main-img.jpeg);
  background-repeat: no-repeat;
  background-position: 80%;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-img {
    height: 720px;
  }
}
@media screen and (max-width: 768px) {
  .main-img {
    height: 600px;
  }
}
@media screen and (max-width: 500px) {
  .main-img {
    height: 500px;
  }
}
.main-img .catchcopy {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: right;
  color: #fff;
  font-family: "Shippori Mincho";
  letter-spacing: 2px;
}
@media screen and (max-width: 1440px) {
  .main-img .catchcopy {
    top: 20%;
    left: 70%;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1200px) {
  .main-img .catchcopy {
    top: 30%;
    left: 50%;
  }
}
@media screen and (max-width: 500px) {
  .main-img .catchcopy {
    top: 40%;
  }
}
.main-img .catchcopy__en {
  font-size: 48px;
  font-weight: bold;
  white-space: nowrap;
  padding-bottom: 16px;
}
@media screen and (max-width: 1440px) {
  .main-img .catchcopy__en {
    font-size: 34px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .main-img .catchcopy__en {
    white-space: break-spaces;
  }
}
@media screen and (max-width: 500px) {
  .main-img .catchcopy__en {
    text-align: left;
    font-size: 26px;
  }
}
.main-img .catchcopy__ja {
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 1440px) {
  .main-img .catchcopy__ja {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .main-img .catchcopy__ja {
    white-space: nowrap;
    font-size: 20px;
  }
}

.concept {
  width: 100%;
  height: 800px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .concept {
    height: 650px;
  }
}
@media screen and (max-width: 768px) {
  .concept {
    flex-direction: column-reverse;
    height: auto;
  }
}
.concept__left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .concept__left {
    width: 100%;
    height: 140px;
  }
}
.concept__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .concept__left img {
    -o-object-position: 90%;
       object-position: 90%;
  }
}
.concept__right {
  width: 50%;
  color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .concept__right {
    width: 100%;
  }
}
.concept__right h2 {
  letter-spacing: 3px;
  font-size: 24px;
  font-family: "kadwa";
  padding-top: 144px;
}
@media screen and (max-width: 1440px) {
  .concept__right h2 {
    font-size: 18px;
    padding-top: 144px;
  }
}
@media screen and (max-width: 1200px) {
  .concept__right h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .concept__right h2 {
    font-size: 22px;
    padding-top: 80px;
  }
}
.concept__right_text {
  letter-spacing: 3px;
  font-size: 22px;
  padding-top: 80px;
  line-height: 2.5;
}
@media screen and (max-width: 1440px) {
  .concept__right_text {
    font-size: 18px;
    padding-top: 64px;
  }
}
@media screen and (max-width: 1200px) {
  .concept__right_text {
    padding-top: 90px;
  }
}
.concept__right_line {
  content: "";
  width: 476px;
  height: 1px;
  background: #363636;
  margin-top: 60px;
}
@media screen and (max-width: 1200px) {
  .concept__right_line {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .concept__right_line {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .concept__right_line {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .concept__right_line {
    width: 320px;
  }
}
.concept__right .readmore {
  margin-top: 120px;
  font-family: "kadwa";
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.concept__right .readmore:hover {
  transform: translate(20px);
}
@media screen and (max-width: 1440px) {
  .concept__right .readmore {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .concept__right .readmore {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .concept__right .readmore {
    padding-bottom: 64px;
    margin-top: 80px;
  }
}

.company {
  width: 100%;
  height: 800px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .company {
    height: 650px;
  }
}
@media screen and (max-width: 768px) {
  .company {
    flex-direction: column;
    height: auto;
  }
}
.company__left {
  width: 50%;
  background: #373737;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .company__left {
    width: 100%;
  }
}
.company__left h2 {
  letter-spacing: 3px;
  font-size: 24px;
  font-family: "kadwa";
  padding-top: 144px;
}
@media screen and (max-width: 1440px) {
  .company__left h2 {
    font-size: 18px;
    padding-top: 144px;
  }
}
@media screen and (max-width: 1200px) {
  .company__left h2 {
    padding-top: 100px;
  }
}
@media screen and (max-width: 599px) {
  .company__left h2 {
    padding-top: 80px;
  }
}
.company__left_text {
  letter-spacing: 3px;
  font-size: 22px;
  padding-top: 80px;
  line-height: 2.5;
}
@media screen and (max-width: 1440px) {
  .company__left_text {
    font-size: 18px;
    padding-top: 64px;
  }
}
@media screen and (max-width: 1200px) {
  .company__left_text {
    padding-top: 100px;
  }
}
.company__left_line {
  content: "";
  width: 476px;
  height: 1px;
  background: #f1f1f1;
  margin-top: 60px;
}
.company__left .readmore {
  margin-top: 120px;
  font-family: "kadwa";
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.company__left .readmore:hover {
  transform: translate(20px);
}
@media screen and (max-width: 1440px) {
  .company__left .readmore {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .company__left .readmore {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .company__left .readmore {
    font-size: 20px;
    padding-bottom: 64px;
  }
}
.company__right {
  width: 50%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .company__right {
    width: 100%;
    height: 140px;
  }
}
.company__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.top-contact {
  width: 100%;
  height: 700px;
  background: #1b1717;
  background-image: url(/wp-content/themes/tellus/assets/images/sec-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .top-contact {
    height: 650px;
  }
}
@media screen and (max-width: 599px) {
  .top-contact {
    height: auto;
  }
}
.top-contact h2 {
  font-family: "kadwa";
  font-size: 32px;
  letter-spacing: 3px;
  padding-top: 110px;
}
@media screen and (max-width: 1440px) {
  .top-contact h2 {
    padding-top: 90px;
    font-size: 24px;
  }
}
.top-contact p {
  padding-top: 32px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  .top-contact p {
    font-size: 18px;
    padding-top: 24px;
  }
}
@media screen and (max-width: 599px) {
  .top-contact p {
    white-space: break-spaces;
    max-width: 350px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.top-contact__tell-form {
  display: flex;
  padding-top: 96px;
  -moz-column-gap: 224px;
       column-gap: 224px;
}
@media screen and (max-width: 768px) {
  .top-contact__tell-form {
    -moz-column-gap: 120px;
         column-gap: 120px;
  }
}
@media screen and (max-width: 599px) {
  .top-contact__tell-form {
    flex-direction: column;
    padding-top: 60px;
  }
}
.top-contact__tell-form .top-contact__tell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .top-contact__tell-form .top-contact__tell {
    padding-bottom: 56px;
  }
}
.top-contact__tell-form .top-contact__tell p {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
  padding: 0;
}
@media screen and (max-width: 1440px) {
  .top-contact__tell-form .top-contact__tell p {
    font-size: 22px;
  }
}
.top-contact__tell-form .top-contact__tell .phone {
  padding-top: 24px;
  font-family: "kadwa";
  font-size: 26px;
  font-weight: 400;
}
@media screen and (max-width: 1440px) {
  .top-contact__tell-form .top-contact__tell .phone {
    font-size: 22px;
    padding-top: 16px;
  }
}
.top-contact__tell-form .top-contact__tell .hours {
  font-size: 18px;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  .top-contact__tell-form .top-contact__tell .hours {
    font-size: 14px;
  }
}
.top-contact__tell-form-line {
  content: "";
  width: 180px;
  height: 1px;
  background: #fff;
  margin-top: 16px;
}
@media screen and (max-width: 599px) {
  .top-contact__tell-form-line {
    width: 100%;
  }
}
.top-contact .top-contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .top-contact .top-contact__form {
    padding-bottom: 56px;
  }
}
.top-contact .top-contact__form p {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.4;
  padding: 0;
}
@media screen and (max-width: 1440px) {
  .top-contact .top-contact__form p {
    font-size: 22px;
  }
}
.top-contact .top-contact__form-line {
  content: "";
  width: 180px;
  height: 1px;
  background: #fff;
  margin-top: 16px;
}
.top-contact .top-contact__form a {
  display: block;
}
.top-contact .top-contact__form a p {
  padding-top: 16px;
  font-family: "kadwa";
  font-size: 24px;
  font-weight: 400;
}
.top-contact .top-contact__form a p:hover + .arrow {
  transform: translateX(30px);
}
@media screen and (max-width: 1440px) {
  .top-contact .top-contact__form a p {
    font-size: 22px;
  }
}
.top-contact .top-contact__form a .arrow {
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  margin-top: 24px;
  transition: all 0.7s ease-in-out;
}
.top-contact .top-contact__form a .arrow::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -2px;
  width: 15px;
  height: 1px;
  background: #fff;
  transform: rotate(-45deg);
}
.top-contact .top-contact__form a .arrow::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -2px;
  width: 15px;
  height: 1px;
  background: #fff;
  transform: rotate(45deg);
}

.address {
  color: #363636;
}
.address .address__wrapper {
  -moz-column-gap: 164px;
       column-gap: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 164px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .address .address__wrapper {
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 900px) {
  .address .address__wrapper {
    padding-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .address .address__wrapper {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
.address__left .tellus {
  padding-left: 12px;
}
.address__left .tellus__en {
  font-size: 32px;
  font-weight: bold;
  font-family: "kadwa";
}
@media screen and (max-width: 1440px) {
  .address__left .tellus__en {
    font-size: 28px;
  }
}
@media screen and (max-width: 900px) {
  .address__left .tellus__en {
    font-size: 24px;
  }
}
.address__left .tellus__ja {
  font-size: 22px;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  .address__left .tellus__ja {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .address__left .tellus__ja {
    font-size: 16px;
  }
}
.address__left_content {
  display: flex;
  align-items: center;
  margin-top: 64px;
}
.address__left_content_line {
  content: "";
  width: 2px;
  height: 220px;
  background: #363636;
}
@media screen and (max-width: 1440px) {
  .address__left_content_line {
    width: 2px;
    height: 188px;
  }
}
@media screen and (max-width: 768px) {
  .address__left_content_line {
    display: none;
  }
}
.address__left_content ul {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 2.5;
  max-width: 320px;
  margin-left: 36px;
}
@media screen and (max-width: 1440px) {
  .address__left_content ul {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .address__left_content ul {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .address__left_content ul {
    margin-left: 0;
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .address__left_content ul {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.address__right iframe {
  width: 700px;
  height: 640px;
}
@media screen and (max-width: 1440px) {
  .address__right iframe {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .address__right iframe {
    width: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 900px) {
  .address__right iframe {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .address__right iframe {
    width: 580px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 599px) {
  .address__right iframe {
    width: 480px;
  }
}
@media screen and (max-width: 500px) {
  .address__right iframe {
    width: 360px;
  }
}

footer {
  width: 100%;
  background: #242222;
  color: #fff;
}
footer .footer__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
  -moz-column-gap: 320px;
       column-gap: 320px;
}
@media screen and (max-width: 1200px) {
  footer .footer__inner {
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  footer .footer__inner {
    align-items: start;
  }
}
footer .footer__inner .tellus__en {
  font-size: 30px;
  font-weight: bold;
  font-family: "kadwa";
}
@media screen and (max-width: 1440px) {
  footer .footer__inner .tellus__en {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  footer .footer__inner .tellus__en {
    font-size: 20px;
  }
}
footer .footer__inner .tellus__ja {
  font-size: 20px;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  footer .footer__inner .tellus__ja {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  footer .footer__inner .tellus__ja {
    font-size: 12px;
  }
}
footer .footer__inner ul {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  font-family: "kadwa";
  font-size: 22px;
}
@media screen and (max-width: 1440px) {
  footer .footer__inner ul {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  footer .footer__inner ul {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  footer .footer__inner ul {
    font-size: 16px;
  }
}
footer .copy-right {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 12px;
  font-size: 16px;
}
@media screen and (max-width: 1440px) {
  footer .copy-right {
    font-size: 12px;
  }
}

.privacy-policy {
  margin: 0 auto;
  text-align: center;
  padding-top: 144px;
}
.privacy-policy h2 {
  font-family: "kadwa";
  font-size: 18px;
  font-weight: normal;
}
.privacy-policy__content {
  padding-top: 28px;
  padding-bottom: 172px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 900px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .privacy-policy__content {
    padding-bottom: 120px;
  }
}
.privacy-policy__content h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-top: 64px;
}
@media screen and (max-width: 768px) {
  .privacy-policy__content h3 {
    padding-top: 40px;
    font-size: 18px;
  }
}
.privacy-policy__content p {
  font-size: 16px;
  padding-top: 64px;
}
@media screen and (max-width: 768px) {
  .privacy-policy__content p {
    padding-top: 40px;
    font-size: 14px;
  }
}

.aboutpage-title {
  height: 420px;
  background-image: url(/wp-content/themes/tellus/assets/images/about-title.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.aboutpage-title__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.aboutpage-title__text h2 {
  font-family: "Libre Baskerville";
  font-size: 56px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1440px) {
  .aboutpage-title__text h2 {
    font-size: 48px;
  }
}
.aboutpage-title__text p {
  font-size: 28px;
}
@media screen and (max-width: 1440px) {
  .aboutpage-title__text p {
    font-size: 24px;
  }
}

.philosophy__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 300px;
       column-gap: 300px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.philosophy__content {
  font-family: "Shippori Mincho";
  max-width: 660px;
  letter-spacing: 0.5px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .philosophy__content {
    max-width: 580px;
  }
}
.philosophy__content::before {
  content: "";
  width: 1px;
  height: 320px;
  background: #363636;
  position: absolute;
  top: 0;
  left: -115px;
}
@media screen and (max-width: 1440px) {
  .philosophy__content::before {
    width: 1px;
    height: 270px;
    top: 0;
    left: -115px;
  }
}
.philosophy__content .philosophy__content_title {
  font-weight: bold;
  font-size: 28px;
}
@media screen and (max-width: 1440px) {
  .philosophy__content .philosophy__content_title {
    font-size: 24px;
  }
}
.philosophy__content p {
  font-size: 22px;
  line-height: 3;
}
@media screen and (max-width: 1440px) {
  .philosophy__content p {
    font-size: 18px;
  }
}

.greeting {
  background: #f1f1f1;
}
.greeting__inner {
  max-width: 880px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .greeting__inner {
    max-width: 820px;
  }
}
.greeting__inner_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 95px;
}
.greeting__inner_content {
  text-align: left;
  padding-top: 56px;
  font-family: "Shippori Mincho";
  font-weight: normal;
  font-size: 20px;
}
@media screen and (max-width: 1440px) {
  .greeting__inner_content {
    font-size: 16px;
  }
}
.greeting__inner_content p {
  padding-bottom: 20px;
}
.greeting__inner_representative {
  font-size: 16px;
  font-family: "Shippori Mincho";
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 3;
  padding-top: 108px;
  padding-bottom: 90px;
}
@media screen and (max-width: 1440px) {
  .greeting__inner_representative {
    font-size: 14px;
  }
}

.hr {
  width: 100%;
}
.hr img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-info__inner_title {
  padding-top: 90px;
}
.about-info__inner dl {
  padding-top: 64px;
  padding-bottom: 120px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 20px;
  color: #363636;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1px;
}
@media screen and (max-width: 1440px) {
  .about-info__inner dl {
    font-size: 16px;
  }
}
.about-info__inner dl dt {
  font-weight: normal;
  padding-right: 72px;
  width: 25%;
  white-space: nowrap;
}
.about-info__inner dl dd {
  width: 75%;
  padding-bottom: 32px;
  border-left: 1px solid #363636;
  padding-left: 100px;
  line-height: 1.6;
}
.about-info__inner dl .detail {
  white-space: nowrap;
}

.about-access {
  background: #f1f1f1;
}
.about-access__inner_title {
  padding-top: 64px;
}
.about-access__inner_text {
  text-align: center;
  font-size: 22px;
  color: #363636;
  font-weight: normal;
  padding-top: 48px;
  line-height: 1.8;
}
@media screen and (max-width: 1440px) {
  .about-access__inner_text {
    font-size: 18px;
  }
}
.about-access__inner_map {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 96px;
}
.about-access__inner_map iframe {
  width: 1000px;
  height: 700px;
}
@media screen and (max-width: 1440px) {
  .about-access__inner_map iframe {
    width: 900px;
    height: 570px;
  }
}

.business-page-title {
  height: 420px;
  background-image: url(/wp-content/themes/tellus/assets/images/business-title.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.business-page-title__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.business-page-title__text h2 {
  font-family: "Libre Baskerville";
  font-size: 56px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1440px) {
  .business-page-title__text h2 {
    font-size: 48px;
  }
}
.business-page-title__text p {
  font-size: 28px;
}
@media screen and (max-width: 1440px) {
  .business-page-title__text p {
    font-size: 24px;
  }
}

.page-link__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 108px;
       column-gap: 108px;
  font-size: 24px;
  font-weight: bold;
  padding-top: 48px;
  padding-bottom: 48px;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 1440px) {
  .page-link__inner {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .page-link__inner {
    justify-content: space-around;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (max-width: 500px) {
  .page-link__inner {
    font-size: 14px;
  }
}

.business-sec-content {
  padding-top: 108px;
  letter-spacing: 4px;
  padding-left: 160px;
  padding-bottom: 179.5px;
}
@media screen and (max-width: 768px) {
  .business-sec-content {
    padding-left: 80px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 599px) {
  .business-sec-content {
    padding-left: 0;
    margin: 0 auto;
  }
}
.business-sec-content_br {
  display: none;
}
@media screen and (max-width: 500px) {
  .business-sec-content_br {
    display: block;
  }
}
.business-sec-content h4 {
  text-align: left;
  font-family: "Shippori Mincho";
  font-weight: bold;
  font-size: 38px;
  color: #1b50a2;
}
@media screen and (max-width: 1440px) {
  .business-sec-content h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .business-sec-content h4 {
    text-align: center;
  }
}
.business-sec-content ul {
  border-left: 3px solid #1b50a2;
  margin-top: 56px;
  padding-left: 42px;
  margin-left: 24px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .business-sec-content ul {
    padding-right: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .business-sec-content ul {
    padding-right: 6rem;
  }
}
@media screen and (max-width: 599px) {
  .business-sec-content ul {
    padding-right: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .business-sec-content ul {
    padding-right: 2rem;
  }
}
.business-sec-content ul li {
  font-size: 18px;
  line-height: 1.6;
}
@media screen and (max-width: 1440px) {
  .business-sec-content ul li {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .business-sec-content ul li {
    font-size: 14px;
  }
}
.business-sec-content ul li:first-child {
  font-size: 24px;
  padding-bottom: 16px;
}
@media screen and (max-width: 1440px) {
  .business-sec-content ul li:first-child {
    font-size: 22px;
  }
}

.business-sec-img {
  position: absolute;
  top: 0;
  right: 120px;
  z-index: 0;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .business-sec-img {
    width: 30%;
    right: 0;
  }
}
@media screen and (max-width: 599px) {
  .business-sec-img {
    width: 50%;
  }
}
.business-sec-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .business-sec-img img {
    opacity: 0.4;
  }
}

.business-about {
  position: relative;
  background: #f1f1f1;
  height: 690px;
}
@media screen and (max-width: 500px) {
  .business-about {
    height: 750px;
  }
}
.business-about__inner_title {
  padding-top: 64px;
}
@media screen and (max-width: 599px) {
  .business-about__inner_title {
    padding-top: 40px;
  }
}

.business-service {
  position: relative;
  background: #fff;
  height: 690px;
}
@media screen and (max-width: 500px) {
  .business-service {
    height: 750px;
  }
}
.business-service__inner_title {
  padding-top: 64px;
}
@media screen and (max-width: 599px) {
  .business-service__inner_title {
    padding-top: 40px;
  }
}

.achievement {
  background: #f1f1f1;
}
.achievement__inner_title {
  padding-top: 64px;
}
@media screen and (max-width: 599px) {
  .achievement__inner_title {
    padding-top: 40px;
  }
}
.achievement .swiper {
  padding-top: 90px;
  padding-bottom: 160px;
}
@media screen and (max-width: 900px) {
  .achievement .swiper {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
.achievement .swiper .swiper-slide-prev {
  opacity: 0.7;
}
.achievement .swiper .swiper-slide-next {
  opacity: 0.7;
}
.achievement .swiper .swiper-slide {
  -o-object-fit: cover;
     object-fit: cover; /* 画像をアスペクト比を保ったまま親要素にフィットさせる */
}
@media screen and (max-width: 599px) {
  .achievement .swiper .swiper-slide {
    height: 250px;
  }
}
.achievement .swiper .swiper-slide img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.achievement .swiper .swiper-button-prev,
.achievement .swiper .swiper-button-next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}
.achievement .swiper .swiper-button-prev {
  left: 100px; /* 左側に配置 */
}
@media screen and (max-width: 599px) {
  .achievement .swiper .swiper-button-prev {
    left: 30px;
  }
}
.achievement .swiper .swiper-button-next {
  right: 100px; /* 右側に配置 */
}
@media screen and (max-width: 599px) {
  .achievement .swiper .swiper-button-next {
    right: 30px;
  }
}
.achievement .swiper .swiper-button-prev::after,
.achievement .swiper .swiper-button-next::after {
  font-size: 50px; /* ボタンのアイコンサイズを変更 */
  color: #fff; /* ボタンのアイコン色を変更 */
}
@media screen and (max-width: 599px) {
  .achievement .swiper .swiper-button-prev::after,
  .achievement .swiper .swiper-button-next::after {
    font-size: 35px;
  }
}
.achievement .swiper .swiper-pagination {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: -60px;
}
.achievement .swiper .swiper-pagination-bullet-active {
  background-color: black;
}
.achievement .swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.contact-page-title {
  height: 420px;
  background-image: url(/wp-content/themes/tellus/assets/images/contact-title.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.contact-page-title__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.contact-page-title__text h2 {
  font-family: "Libre Baskerville";
  font-size: 48px;
  letter-spacing: 2px;
}
.contact-page-title__text p {
  font-size: 24px;
}

.flow {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 30px;
}
@media screen and (max-width: 1440px) {
  .flow {
    font-size: 24px;
  }
}

.contact-flow {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 144px;
}
@media screen and (max-width: 1440px) {
  .contact-flow {
    padding-left: 64px;
    padding-right: 64px;
  }
}
.contact-flow__inner {
  display: flex;
  justify-content: space-between;
}
.contact-flow__inner .link {
  padding-top: 32px;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}
@media screen and (max-width: 1440px) {
  .contact-flow__inner .link {
    font-size: 24px;
  }
}
.contact-flow__inner .link a {
  display: block;
  transition: all 0.5s ease-in-out;
}
.contact-flow__inner .link a:hover {
  transform: translateX(20px);
}
.contact-flow__inner_item {
  position: relative;
  width: 550px;
}
@media screen and (max-width: 1440px) {
  .contact-flow__inner_item {
    width: 450px;
  }
}
.contact-flow__inner_item_number {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Kadwa";
  font-size: 48px;
}
.contact-flow__inner_item_images {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding-top: 160px;
}
.contact-flow__inner_item_text {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  color: #363636;
}
.contact-flow__inner_item_text h5 {
  font-size: 24px;
  position: relative;
}
.contact-flow__inner_item_text h5::after {
  content: "";
  width: 200px;
  height: 1px;
  background: #363636;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.contact-flow__inner_item_text_p {
  padding-top: 40px;
  font-size: 18px;
  line-height: 1.6;
}
@media screen and (max-width: 1440px) {
  .contact-flow__inner_item_text_p {
    font-size: 14px;
  }
}

.tel-btn {
  background: #363636;
  width: 600px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; /* コンテンツがはみ出さないようにするために必要 */
  transition: all 0.3s ease; /* ボタン全体にアニメーションを追加 */
}
@media screen and (max-width: 1440px) {
  .tel-btn {
    width: 700px;
    height: 160px;
  }
}
.tel-btn:hover {
  transform: scale(0.99); /* ボタン全体に押し込まれるようなアニメーションを追加 */
}
.tel-btn img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: all 0.3s ease; /* アニメーションを追加 */
}
.tel-btn:hover img {
  transform: translate(-50%, -50%) scale(0.9); /* 押し込まれるアニメーションを追加 */
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -ms-transform: translate(-50%, -50%) scale(0.9);
}
.tel-btn__inner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
}
.tel-btn__inner h6 {
  font-weight: bold;
  font-size: 32px;
}
.tel-btn__inner p {
  padding-top: 12px;
  display: block;
  font-size: 24px;
  font-family: "Kadwa";
  text-align: center;
  letter-spacing: 2px;
}

.contact-form {
  margin-top: 105px;
  margin-bottom: 160px;
}
.contact-form__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 126px 60px;
  border: #363636 1px solid;
}
@media screen and (max-width: 1440px) {
  .contact-form__inner {
    max-width: 1000px;
  }
}
.contact-form__inner h4 {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .contact-form__inner h4 {
    font-size: 36px;
  }
}
.contact-form__inner_title {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 60px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .contact-form__inner_title {
    font-size: 16px;
  }
}
.contact-form__inner_title a {
  color: #1b50a2;
  border-bottom: 1px solid #1b50a2;
}
.contact-form__inner_title a:hover {
  opacity: 0.7;
}
.contact-form__inner_form {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #363636;
}
.contact-form__inner_form .required::before {
  content: "*";
  margin-left: -8px;
  color: red;
  position: absolute;
}
.contact-form__inner_form p label {
  position: relative;
  padding-bottom: 14px;
  width: 700px;
  margin-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
@media screen and (max-width: 1440px) {
  .contact-form__inner_form p label {
    font-size: 16px;
  }
}
.contact-form__inner_form p input[type=text],
.contact-form__inner_form p input[type=email],
.contact-form__inner_form p input[type=tel] {
  width: 400px;
  height: 40px;
  background: #d9d9d9;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
}
.contact-form__inner_form p textarea {
  width: 400px;
  height: 220px;
  background: #d9d9d9;
  padding: 8px;
  margin-bottom: 30px;
  outline: none;
}
.contact-form__inner_form .privacy input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 0%;
  margin-right: 8px;
  cursor: pointer;
}
.contact-form__inner_form .privacy p label {
  display: flex;
  justify-content: center;
  border-bottom: none;
}
.contact-form__inner_form .privacy p label a {
  color: #1b50a2;
}
.contact-form__inner_form .privacy p label a:hover {
  opacity: 0.7;
}
.contact-form__inner_form input[type=submit] {
  background: #363636;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  margin-top: 24px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (max-width: 1440px) {
  .contact-form__inner_form input[type=submit] {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */